
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@Html.Raw(TempData["DonationMessage"])

@Html.Raw(TempData["ContactMessage"])

<section>
    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric125"
         data-source="gallery" style="background-color:transparent;padding:0px;">
        <div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>
                <li data-index="rs-1" data-transition="random" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-title="Slide Title" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
                    data-fstransition="random" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-param1="" data-param2="" data-param3="" data-param4=""
                    data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                    data-description="">
                    <img src="~/Content/assets/images/resources/slider-img-01.jpg" alt=""
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption theme-clr tp-resizeme" id="slide-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-90','-60','-110','-80']"
                         data-fontsize="['55','50','40','35']" data-lineheight="['auto','auto','auto','auto']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="font-family: open sans;font-size: 55px;font-weight:800;color: #fff;">
                        Together We
                        Can Change
                    </div>
                    <div class="tp-caption th-color tp-resizeme" id="slide-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','0','-60','-40']"
                         data-fontsize="['55','50','40','35']" data-lineheight="['auto','auto','auto','auto']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1700,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="font-size: 55px;font-weight:800;font-family: Permanent Marker;">
                        The World
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','50','0','0']"
                         data-fontsize="['24','22','20','16']" data-lineheight="['auto','auto','auto','auto']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="letter-spacing: -.75px;color: #fff;font-family: lato;font-size: 24px;">
                        If we
                        don't stop the destruction of nature, nothing else will matter.
                    </div>
                    @*<div class="tp-caption " id="slide-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['-98','-98','-98','-98']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['140','140','90','70']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                         data-actions='[{"event":"click","action":"simplelink","slide":"next","delay":"","target": "_self", "url": "donate-now.html"}]'
                         data-responsive_offset="on" data-responsive="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2100,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[15.5,15.5,12,12]" data-paddingright="[35,35,30,30]"
                         data-paddingbottom="[15.5,15.5,12,12]" data-paddingleft="[35,35,30,30]"
                         style="cursor:pointer;line-height: 25px;display: inline-block;font-weight: 700;font-family: open sans;font-size: 14px;">
                        <a class=" cp-btn-style cp-btn-style_v2 mr-5" href="@Url.Action("Donate", "Home")"> Join us Now</a>
                    </div>*@
                    <div class="tp-caption rev-btn  " id="slide-layer-5"
                         data-x="['center','center','center','center']" data-hoffset="['97','97','97','97']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['140','140','90','70']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                         data-responsive_offset="on" data-responsive="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[15.5,15.5,12,12]" data-paddingright="[35,35,30,30]"
                         data-paddingbottom="[15.5,15.5,12,12]" data-paddingleft="[35,35,30,30]"
                         style="cursor:pointer;line-height: 25px;display: inline-block;font-weight: 700;font-family: open sans;font-size: 14px;">
                        <a class=" cp-btn-style cp-btn-style_v2 mr-5" href="@Url.Action("Donate", "Home")"> DONATE NOW</a>
                    </div>
                </li>
                <li data-index="rs-2" data-transition="random" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-title="Slide Title" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
                    data-fstransition="random" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-param1="" data-param2="" data-param3="" data-param4=""
                    data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                    data-description="">
                    <img src="~/Content/assets/images/resources/slider-img-02.jpg" alt=""
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption th-color tp-resizeme" id="slide-layer-6"
                         data-x="['right','right','center','center']" data-hoffset="['350','100','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-60','0','-80','-80']"
                         data-fontsize="['44','40','35','30']" data-lineheight="['50','80','30','30']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1700,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="font-size: 44px;font-weight:800;font-family: open sans;letter-spacing: -3px;">
                        "It
                        was just like a light came <br> into the room..."
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-layer-7"
                         data-x="['right','right','center','center']" data-hoffset="['350','100','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','50','-10','-10']"
                         data-fontsize="['24','22','20','16']" data-lineheight="['30','50','20','20']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="letter-spacing: -.75px;color: #fff;font-family: lato;font-size: 24px;">
                        Join the
                        Great Daffodil Appeal so nurses like Paula can help <br> families living with a terminal
                        illness.
                    </div>
                    <div class="tp-caption rev-btn cp-btn-style" id="slide-layer-8"
                         data-x="['right','right','center','center']" data-hoffset="['505','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['160','140','80','80']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                         data-actions='[{"event":"click","action":"simplelink","slide":"next","delay":"","target": "_self", "url": "donate-now.html"}]'
                         data-responsive_offset="on" data-responsive="on"
                         data-frames='[{"from":"y:bottom;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2100,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[15.5,15.5,12,12]" data-paddingright="[35,35,30,30]"
                         data-paddingbottom="[15.5,15.5,12,12]" data-paddingleft="[35,35,30,30]"
                         style="cursor:pointer;line-height: 25px;display: inline-block;font-weight: 700;font-family: open sans;font-size: 14px;">
                        NEED SUPPORT NOW?
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="cp-main-content">


    @*invitation section starts here*@

    @*<section class="cp-newsletter-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="cp-news-letter-inner">
                            <div class="news-text">
                                <h6>Invite your</h6>
                                <h2>Friends</h2>
                            </div>
                            <form method="get" class="cp-newsform-outer">
                                <input type="text" placeholder="Enter your friend's Email">
                                <button class="btn-submit cp-btn-style_v2" type="submit">Send Invitation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @*invitation section Ends here*@




    <section class="cp-welcome-section pd-tb100">
        <div class="container">
            <div class="cp-heading-outer text-center">
                <h5 class="th-color">By Your Donation</h5>
                <h1><span class="th-color">Take A Stand</span> For Poor’s</h1>
                <p>
                    1-3% guaranteed pricing and fastest access to your funds. We only need it for other necessary
                    activities. Nearly every other fundraising site will charge you at least 8%. And beware of
                    sites that claim to be free. We mean that in the nicest of ways.
                </p>
            </div>

        </div>
    </section>



    @*Project section starts here*@
    <section class="cp-video-section cp-video-section_home">
        <div class="container container-custom">
            <div class="cp-video-inner-outer">
                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="cp-video-info-outer">
                            <span class="th-color">We Worked on Several Projects</span>
                            <h2>Watch Recent Projects</h2>
                            <ul class="cp-recent-listed">
                                @{

                                    int ProjectCount = 0;
                                    foreach (var item in ViewBag.ProjectList)
                                    {
                                        if (item.ProjectStatus == 1)
                                        {

                                            if (ProjectCount < 2)
                                            {


                                            <li class="recent-list">
                                                <div class="sm-thumb">
                                                    <img src="@Url.Content(item.ProjectImage)" style="height: 50px;" alt="">
                                                </div>
                                                <div class="cp-text">
                                                    <h5><a href="@Url.Action("ProjectDetails", "Home", new { id = item.ProjectID })">@item.ProjectTitle</a></h5>
                                                    <p style="height: 50px; overflow: hidden;">
                                                        @item.ProjectDescription
                                                    </p>
                                                </div>
                                            </li>

                                                    ProjectCount++;
                                                }
                                            }
                                        }

                                    }
                            </ul>
                            <a href="@Url.Action("Projects", "Home")" class="cp-btn-style">View More Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*Project section ends here*@



    @*Blog section starts here*@

    <section class="cp-blog-section pd-tb100">
        <div class="container container-custom2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cp-heading-outer">
                        <span class="th-color">Our Latest Blogs </span>
                        <h1>Blogs & updates</h1>
                        <p>
                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            molestiae
                        </p>
                    </div>

                    <div class="row">

                        @{


                            foreach (var item in ViewBag.BlogList)
                            {

                                if (item.BlogStatus == 1)
                                {


                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="cp-blog-item">
                                        <figure class="cp-thumb">
                                            <img src="@Url.Content(item.BlogImage)" style="height: 200px; width: 100%;  " alt="">
                                        </figure>
                                        <div class="cp-text">
                                            <h5><a href="@Url.Action("BlogsDetails", "Home", new { id = item.BlogID })">@item.BlogTitle</a></h5>
                                            <p style="height: 50px; overflow: hidden;">
                                                @item.BlogDescription
                                            </p>
                                            <div class="bottom-holder bottom-line ">
                                                <ul class="meta-listed d-flex">
                                                    <li>
                                                        <div class="">
                                                            <span style="color: #00a3e4; margin-right: 5px; font-weight:600;"> AUTHOR:</span>
                                                            <span style="color: black;  font-weight:600; text-transform: uppercase;">  @item.tbl_Admins.AdminFirstName</span>    
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>@Convert.ToDateTime(item.BlogDateTime).ToString("dd MMM, yyyy")
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                    }
                                }

                            }
                    </div>

                </div>

            </div>
        </div>
    </section>



    @*Blog section ends here*@



    @*Causes section starts here*@

    <section class="cp-causes-section cp-causes-section_home pd-tb100">
        <div class="container">
            <div class="cp-heading-outer">
                <span class="th-color">We Are Working on These </span>
                <h1>Present Causes</h1>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                </p>
            </div>
            <div class="cp-causes-inner-outer">
                <div class="owl-carousel" id="cp-causes-slider">





                    @foreach (var item in ViewBag.CausesList)
                    {

                        <div class="slider-item">
                            <div class="cp-causes-item">
                                <figure class="cp-thumb">
                                    <img src="@Url.Content(item.CauseImage)" style="height: 300px; width: 100%;  " alt="">
                                </figure>
                                <div class="cp-text">
                                    <span class="cp-mapicon">
                                        <i class="fa fa-map-marker"
                                           aria-hidden="true"></i>
                                    </span>
                                    <ul class="meta-listed">
                                        <li><span style="padding-right: 10px;">Incharge: </span> <i class="fa fa-user" aria-hidden="true"></i> @item.tbl_Admins.AdminFirstName </li>

                                    </ul>
                                    <h5>
                                        <a href="@Url.Action("Donate", "Home", new { id = item.CauseID })">@item.CauseName</a>
                                    </h5>
                                    <div class="cp-progressbar-outer">
                                        <div class="cp-progressbar-inner">
                                            <div class="progress-bar" style="width: 80%;">
                                                <span class="percentage">80%</span>
                                            </div>
                                        </div>
                                        <ul class="cp-progress-info-list">
                                          
                                            <li class="progress-text">
                                                Donators:<span class="th-color">
                                                    14
                                                    Donors
                                                </span>
                                            </li>
                                            <li class="progress-text">
                                                Raised:<span class="th-color">$472,183</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="bottom-holder">
                                    <a href="@Url.Action("Donate", "Home", new { id = item.CauseID })" class="cp-btn-style btn-donors">
                                        Donate
                                        Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    }




                </div>
                <div class="cp-btns-holder text-center">
                    <a href="@Url.Action("Causes", "Home")" class="cp-btn-style_v3">View More Causes</a>
                </div>
            </div>
        </div>
    </section>

    @*Causes section Ends here*@





    @*Event section starts here*@

    <section class="cp-event-section pd-tb100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="cp-heading-outer cp-heading-outer_v2">
                        <span class="th-color">We Are going to Organize</span>
                        <h1>Our Next Events</h1>
                        <p>
                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            molestiae
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="right-holder">
                        <a href="#" title="" class="btn-more"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <a href="@Url.Action("Events","Home")" class="cp-btn-style cp-btn-style_v2">View More Events</a>
                    </div>
                </div>
            </div>





            <ul class="cp-event-listed">
                @{
                    var EventCount = 0;
                    foreach (var item in ViewBag.EventList)
                    {
                        if (item.EventStatus == 1)
                        {
                            if (EventCount < 2)
                            {
                            <li class="event-list-item">

                                <div class="row">


                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="event-inner-info">
                                            <span class="date-box">
                                                <strong>@Convert.ToDateTime(item.EventDateTime).ToString("dd")</strong>
                                                <span class="th-color">@Convert.ToDateTime(item.EventDateTime).ToString("MMM, yyyy")</span>
                                            </span>
                                            <div class="cp-text">
                                                <ul class="meta-listed">
                                                    <li>
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>@Convert.ToDateTime(item.EventDateTime).ToString("h:mm tt")
                                                    </li>
                                                </ul>
                                                <h5>
                                                    <a href="@Url.Action("EventDetails", "Home", new { id = item.EventID })" title="">
                                                        @item.EventTitle
                                                    </a>
                                                </h5>
                                                <ul class="meta-listed">
                                                    <li><i class="fa fa-user" aria-hidden="true"></i>@item.tbl_Admins.AdminFirstName</li>
                                                    <li>
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>@item.EventLocation
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                        <div class="cp-countdown-holder">
                                            <a href="event-detail.html" class="cp-btn-style">Buy Tickets</a>
                                            <div class="cp-countdown"></div>
                                        </div>
                                    </div>

                                </div>

                            </li>
                                    EventCount++;

                                }
                            }
                        }
                    }
            </ul>
        </div>




    </section>
    @*Event section Ends here*@

    @*invitation section starts here*@

    <section class="cp-newsletter-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="cp-news-letter-inner">
                        <div class="news-text">
                            <h6>Invite your</h6>
                            <h2>Friends</h2>
                        </div>
                        <form method="get" class="cp-newsform-outer">
                            <input type="text" placeholder="Enter your friend's Email">
                            <button class="btn-submit cp-btn-style_v2" type="submit">Send Invitation</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*invitation section Ends here*@









    @*our team section starts here*@

    <section class="cp-team-section cp-team-section_home cp-section_img pd-tb100">
        <div class="container">
            <div class="cp-heading-outer">
                <span class="th-color">Awesome guys behind our charity activities </span>
                <h1>Team Members</h1>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit.</p>
            </div>
            <div class="owl-carousel" id="cp-team-slider">



                @foreach (var item in ViewBag.tList)
                {
                    <div class="item">
                        <div class="cp-team-item">
                            <figure class="cp-thumb">
                                <img src="@Url.Content(item.MemberImage)" style="height: 370px; width: 100%;  " alt="">
                                <figcaption class="cp-caption">
                                    <div class="cp-social-outer">
                                        <ul class="cp-social-links cp-social-links_v2">
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-google-plus"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-twitter"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-linkedin"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-facebook"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-pinterest"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-youtube"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </figcaption>
                            </figure>
                            <div class="cp-text">
                                <h4 style="text-transform: capitalize;"><a href="#">@item.MemberName</a></h4>
                                <span class="th-color degination">
                                    @foreach (var Title in ViewBag.tTitles)
                                    {

                                        if (item.TitleID == Title.TitleID)
                                        {
                                            @Title.TitleName

                                        }
                                    }

                                </span>
                            </div>
                        </div>
                    </div>


                }





            </div>

        </div>
    </section>


  




    @*Our NGO partners section starts here*@
    <section class="cp-sponsors-section pd-tb100">

        <div class="container">
            <div class="cp-heading-outer">
                <span class="th-color">Partners </span>
                <h1>Associative NGOs</h1>
                <p>These guys are helping us in each way possible, together we grow faster.</p>
            </div>
            <div id="cp-sponsors-slider" class="owl-carousel">




                @foreach (var item in ViewBag.NGOList)
                {
                    if (item.NGOStatus == 1)
                    {
                    <div class="item">
                        <a href="#">
                            <img src="@Url.Content(item.NgoLogo)" style="height: 50px; width: 100%;  " alt="">
                        </a>

                    </div>
                    }
                }




            </div>
        </div>
    </section>
</div>

@*Our NGO partners section Ends here*@