@model NGO_Organization.Models.tbl_Achivements

@{
    ViewBag.Title = "Achivement Details";
}



<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Achivement Detials
        </h3>

    </div>
    <div class="row grid-margin">
        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Details of the title  "@Html.DisplayFor(model => model.AchiveTitle)"  Are listed below </h4>

                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                ID
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AchiveID)
                            </dd>
                            <dt>
                                Title
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AchiveTitle)
                            </dd>

                            <dt>
                                Image
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AchiveImage)
                            </dd>

                            <dt>
                                Description
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AchiveDescription)
                            </dd>

                            <dt>
                                Date and time
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AchiveDateTime)
                            </dd>

                            <dt>
                                Posted by Admin
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbl_Admins.AdminFirstName)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "EditAchivement", new { id = Model.AchiveID }) |
                        @Html.ActionLink("Back to Achivements", "Achivements")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>



