@model NGO_Organization.Models.tbl_Blogs

@{
    ViewBag.Title = "Add Blog";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Add New Blog
        </h3>

    </div>
    <div class="row grid-margin">
        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Add Blog Information</h4>

                    @using (Html.BeginForm("AddBlog", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.BlogTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.BlogTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BlogTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.BlogDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.BlogDescription, new { cols = 35, @rows = 6, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BlogDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BlogDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.BlogDateTime, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.BlogDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdminID, "AdminID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.DropDownList("AdminID", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BlogImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="file" name="BlogImgFile" style="margin-top: 5px" value="" required />
                            <div class="text-danger"> @ViewBag.SizeErrorMessage</div>
                            <div class="text-danger"> @ViewBag.ExtensionErrorMessage</div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.BlogStatus, new { htmlAttributes = new { @class = "form-control", @Value = 1, @readonly = "Readonly", } })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Blog" class="btn btn-inverse-primary" />
                        </div>
                    </div>
                </div>
                    }

                    <div>
                        @Html.ActionLink("Back to Blogs", "Blogs")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>