@model NGO_Organization.Models.tbl_Projects

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Add project
        </h3>

    </div>
    <div class="row grid-margin">
        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Add your Project Details below</h4>
                    @using (Html.BeginForm("AddProject", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ProjectTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProjectTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ProjectDescription, new { cols = 35, @rows = 6, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ProjectDateTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProjectDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberID, "MemberID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.MemberID, ViewBag.MembersList as SelectList, "Under the supervision of ", new { @class = "form-control js-example-basic-single w-100 ", required = (string)null })

                            @ViewBag.errorMessage
                            @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdminID, "AdminID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.DropDownList("AdminID", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="file" name="ProjectImgFIle" style="margin-top: 5px" value="" required />
                            <div class="text-danger"> @ViewBag.SizeErrorMessage</div>
                            <div class="text-danger"> @ViewBag.ExtensionErrorMessage</div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ProjectStatus, new { htmlAttributes = new { @class = "form-control", @Value = 1, @readonly = "Readonly", } })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Projects")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
