@model NGO_Organization.Models.tbl_TeamMembers

@{
    ViewBag.Title = "AddTeamMember";
}

@Html.Raw(TempData["AddMemberMessage"])
@Html.Raw(TempData["EditMemberMessage"])

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Add New Member
        </h3>

    </div>
    <div class="row grid-margin">
        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Add Member Information</h4>

                    @using (Html.BeginForm("AddTeamMember", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group ">
                                @Html.LabelFor(model => model.MemberName, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-12 ">
                                    @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MemberDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.MemberDescription, new { cols = 35, @rows = 6, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MemberDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.TitleID, "TitleID", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.TitleID, ViewBag.TitleList as SelectList, "Select Title", new { @class = "form-control js-example-basic-single w-100 ", required = (string)null })
                                    @*@Html.EditorFor(model => model.TitleID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*@Html.DropDownList("TitleID", null, htmlAttributes: new { @class = "form-control" })*@
                                    @ViewBag.errorMessage

                                    @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminID, "AdminID", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.DropDownList("AdminID", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MemberImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @*<label class="btn btn-outline-facebook btn-file d-block">
                                        Browse <input type="file" style="display: none;" required>
                                    </label>*@
                                    <input type="file" name="MemberImgFile" style="margin-top: 5px" value="" required />
                                    <div class="text-danger"> @ViewBag.SizeErrorMessage</div>
                                    <div class="text-danger"> @ViewBag.ExtensionErrorMessage</div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 d-block">
                                        <input type="submit" class="btn btn-inverse-primary " value="Add Member" />
                                    </div>
                                </div>
                            </div>


                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "TeamMemberList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>