@model NGO_Organization.Models.tbl_aboutus

@{
    ViewBag.Title = "EditAboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Edit About us
        </h3>

    </div>
    <div class="row grid-margin">
        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Update About us Details below</h4>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
     
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.AboutID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.WhatWeDo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.WhatWeDo, new { cols = 35, @rows = 6, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WhatWeDo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CareerWithUs, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.CareerWithUs, new { cols = 35, @rows = 6, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CareerWithUs, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ReadAboutUS, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.ReadAboutUS, new { cols = 35, @rows = 6, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ReadAboutUS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OurMission, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.OurMission, new { cols = 35, @rows = 6, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OurMission, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminID, "AdminID", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control",  } })
                                    @*@Html.DropDownList("AdminID", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="Save changes" class="btn btn-inverse-warning" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to About us", "Aboutus")
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>